body {
    font-family: 'Ropa Sans';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input[type='text'] {
    padding: 0.5rem;
    width: 150px;
    border: 1px solid #BBB;
    background: #FFF;
    font-size: 14px;
    outline: none;
}

select {
    padding: 0.5rem;
    width: 200px;
    height: 35px;
    border: 1px solid #BBB;
    background: #FFF;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper {
    width: 100%;
    margin-top: 50px;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

button {
    border: 1px solid #BBB;
    background: #CCC;
    color: #111;
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.messages {
    border: 1px solid #BBB;
    background: #FFF;
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    color: #000000;
}

.messages .message {
    padding: 5px;
}

.main-holder {
    margin-top: 15px;
}

.messages-holder {
    width: calc(100% - 280px);
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.connected-users {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #BBB;
    padding: 5px;
    height: 360px;
    overflow-y: auto;
}

.user {
    padding: 2px 5px;
    margin: 0;
}

.compose-message {
    margin-top: 10px;
}

.connected-users .title {
    padding: 2px 5px;
    font-style: italic;
    color: #707070;
    margin-bottom: 2px;
}
